.end-screen {
  width: 100vw;
  height: 100vh;
  color: var(--black);
  background-color: rgba(254, 222, 227, 0.9);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  visibility: hidden;
  animation: scale 1s ease-in 0s;
}

.end-screen.visible {
  visibility: visible;
}

.h1-end {
  visibility: hidden;
  font-size: 3em;
  z-index: 2;
  animation: bounce 1s ease-in-out infinite alternate;
}

.h1-end.visible {
  visibility: visible;
}

.button-play-again {
  visibility: hidden;
}

@keyframes scale {
  0% {
    transform: scale(0.1, 0.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@media (min-width: 1024px) {
  .end-screen {
    width: 100vw;
    height: 50vw;
  }

  .h1-end {
    font-size: 8em;
  }
}
