.gameboard {
  width: 96vw;
  height: 96vw;
  margin: auto;
  display: flex;
  flex-flow: wrap;
  perspective: 80vw;
}

@media (min-width: 1024px) {
  .gameboard {
    width: 40vw;
    height: 40vw;
  }
}
