:root {
  --black: #211c19;
  --palepink: #fedee3;
  --purple: #b1ade2;
  --babyblue: #7ddff8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "source-code-pro", "monospace";
  font-weight: 400;
  font-style: normal;
  background-color: var(--purple);
  background-image: linear-gradient(315deg, #b1ade2 0%, #7ddff8 74%);
  position: relative;
}

.visible {
  visibility: visible;
}

.removed {
  display: none;
}

@keyframes bounce {
  0% {
    transform: translateY(-10vh);
  }

  100% {
    transform: translateY(0), skewX(3deg);
  }
}
