.welcome-screen {
  width: 100vw;
  height: 100vh;
  color: var(--black);
  background-color: rgba(254, 222, 227, 1);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  animation: scale 1s ease-in 0s;
}

.welcome-screen.removed {
  display: none;
}

.h1-start {
  font-size: 5em;
  color: var(--purple);
  text-align: center;
  -webkit-text-stroke: 2px var(--black);
  z-index: 2;
  animation: bounce 1s ease-in-out infinite alternate;
}

.button-start-game {
  margin-bottom: 10vh;
}

@keyframes scale {
  0% {
    transform: scale(0.1, 0.1);
  }

  100% {
    transform: scale(1, 1);
  }
}

@media (min-width: 1024px) {
  .h1-start {
    font-size: 9em;
  }

  .button-start-game {
    margin-bottom: 20vh;
  }
}
