.button-play-again {
    width: 50vw;
    height: 7vh;
    background-color: var(--babyblue);
    border: 2px solid var(--black);
    box-shadow: 4px 4px var(--black);
    font-family: "source-code-pro";
    color: var(--black);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    bottom: 0;
    margin-bottom: 25vh;
    cursor: pointer;
    z-index: 3;
    position: absolute;
    align-self: flex-end;
    visibility: hidden;
}

.button-play-again:hover {
    background-color: var(--purple);
    animation: wiggle 0.4s;
    /* transform: scale(1.2);
    transition: 0.6s ease-in-out 0s; */
}


.button-play-again.visible {
    visibility: visible;
}


@keyframes wiggle {
    0% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotateY(-2deg);
    }

    100% {
        transform: rotate(2deg);
    }
}


@media (min-width: 1024px) {

    .button-play-again {
        width: 15vw;
        height: 7vh;
        font-size: 1em;
    }
}