:root {
    --black: #211C19;
    --palepink: #FEDEE3;
    --purple: #b1ade2;
    --babyblue: #7ddff8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: source-code-pro,
        monospace;
    font-weight: 400;
    font-style: normal;
    background-color: var(--purple);
    background-image: linear-gradient(315deg, #b1ade2 0%, #7ddff8 74%);

}

.logo {
    width: 4vw;
    margin-top: 2vh;
}

h1 {
    color: rgba(0, 0, 0, 0.3);
    margin-top: 3vh;
}

.gameboard {
    width: 40vw;
    height: 40vw;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    perspective: 80vw;
    padding: 1%;
    border-radius: 3%;
}

button {
    width: 12vw;
    height: 5vh;
    border: 2px solid var(--black);
    color: var(--black);
    text-align: center;
    text-transform: uppercase;
    font-family: source-code-pro,
        monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    letter-spacing: 0.1em;
    margin-bottom: 5vh;
    cursor: pointer;
    background-color: var(--babyblue);
    box-shadow: 4px 4px var(--black);
}

button:hover {
    color: white;
    background-color: var(--purple);
    border: 2px solid white;
}

.you-won {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    color: var(--black);
    background-color: var(--palepink);
    opacity: .9;
    font-size: 4em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}