* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: source-code-pro,
        monospace;
    font-weight: 400;
    font-style: normal;
    background-color: #b1ade2;
    background-image: linear-gradient(315deg, #b1ade2 0%, #7ddff8 74%);

}

.logo {
    width: 4vw;
    margin-top: 2vh;
}

h1 {
    color: rgba(0, 0, 0, 0.3);
    margin-top: 3vh;
}

.gameboard {
    width: 40vw;
    height: 40vw;
    margin: auto;
    display: flex;
    flex-flow: wrap;
    perspective: 80vw;
    padding: 1%;
    border-radius: 3%;
}

button {
    width: 10vw;
    height: 5vh;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
    text-transform: uppercase;
    font-family: source-code-pro,
        monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    letter-spacing: 0.1em;
    margin-bottom: 5vh;
    cursor: pointer;
    background-color: transparent;
    transition: border-color .45s cubic-bezier(0.25, 1, 0.33, 1),
        color .45s cubic-bezier(0.25, 1, 0.33, 1);
}

button:hover {
    background-color: #D5B187;
    color: white;
    border: 2px solid white;
}

.you-won {
    width: 95%;
    height: 95%;
    background-color: rgba(213, 177, 135, .7);
    color: white;
    font-size: 4em;
    font-weight: 700;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}