* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
}

.gameboard {
    width: 40vw;
    height: 40vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 25%;
    height: 25%;
    position: relative;
    transform: scale(1);
}

.card:active {
    transform: scale(.95);
    transition: transform .4s;
}

.card.flip {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3%;
    border-radius: 5%;
}